doctype html
html
    head
        title= '老司机 管理平台'



        link(rel='stylesheet', href='/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/assets/css/theme.css')
        link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
        link(rel='stylesheet', href='/assets/css/alertify.css')
        link(rel='stylesheet', href='/assets/css/facybox.css')

        script(src='/assets/js/jquery.min.js')
        script(src='/assets/js/jquery-ui.min.js')
        script(src='/assets/js/raphael-min.js')
        script(src='/assets/js/bootstrap.js')
        script(src='/assets/js/sparkline.js')

        script(src='/assets/js/morris.min.js')
        script(src='/assets/js/jquery.dataTables.min.js')
        script(src='/assets/js/jquery.masonry.min.js')
        script(src='/assets/js/jquery.imagesloaded.min.js')
        script(src='/assets/js/jquery.facybox.js')

        script(src='/assets/js/jquery.alertify.min.js')
        script(src='/assets/js/jquery.knob.js')
        script(src='/assets/js/fullcalendar.min.js')
        script(src='/assets/js/jquery.gritter.min.js')
        script(src='/assets/js/realm.js')
        script(src='/assets/js/jquery.slimscroll.min.js')

        script(src='/javascripts/bootstrap-paginator.js')
    body
        div#wrap
            div.navbar.navbar-fixed-top
                div.navbar-inner
                    div.container-fluid
                        div.logo
                            image(src="/assets/img/logo.png" style="height:30px;")

                        div.top-menu.visible-desktop
                            ul.pull-left
                                li
                                    a
                                        三一老司机管理平台
                        div.top-menu.visible-desktop
                            ul.pull-right
                                li
                                  a(href="/admin/logout")
                                      i.icon-off
                                      退出

            div.container-fluid
                div.sidebar-nav.nav-collapse.collapse
                    div.user_side.clearfix
                        image(src="/assets/img/share.jpg")
                        h5 #{username}
                        a(href="#")
                          i.icon-cog  修改密码


                    div.accordion
                        div.accordion-group
                            div.accordion-heading
                                a.accordion-toggle(href="/api/index")
                                  i.icon-dashboard(style="padding-right:8px;")
                                  span 仪表盘


                        div.accordion-group
                            div.accordion-heading
                                a.accordion-toggle.b_C3F7A7.collapsed(href="#collapse1" data-toggle="collapse" data-parent="#accordion2")
                                  i.icon-table(style="padding-right:8px;")
                                  span 企业管理
                            div#collapse1.accordion-body.collapse
                                div.accordion-inner
                                    a.accordion-toggle(href="/api/company/all" )
                                      i.icon-circle(style="padding:0 8px;")
                                      企业列表
                                    a.accordion-toggle(href="/api/company/add")
                                      i.icon-circle(style="padding:0 8px;")
                                      新增企业

                        div.accordion-group
                          div.accordion-heading
                            a.accordion-toggle.b_C3F7A7.collapsed(href="#collapse2" data-toggle="collapse" data-parent="#accordion2")
                              i.icon-user(style="padding-right:8px;")
                              span 司机管理

                          div#collapse2.accordion-body.collapse
                            div.accordion-inner
                              a.accordion-toggle(href="/api/driver/all")
                                i.icon-circle(style="padding:0 8px;")
                                司机列表
                              a.accordion-toggle(href="/api/driver/to_chushen")
                                i.icon-circle(style="padding:0 8px;")
                                待初审

                              a.accordion-toggle(href="/api/driver/to_mianshen")
                                i.icon-circle(style="padding:0 8px;")
                                待面签

                        div.accordion-group
                          div.accordion-heading
                            a.accordion-toggle.b_C3F7A7.collapsed(href="#collapse3" data-toggle="collapse" data-parent="#accordion2")
                              i.icon-reorder(style="padding-right:8px;")
                              span 运单管理

                          div#collapse3.accordion-body.collapse
                            div.accordion-inner
                              a.accordion-toggle(href="/api/need/all")
                                i.icon-circle(style="padding:0 8px;")
                                待接单

                              a.accordion-toggle(href="/api/order/ing")
                                i.icon-circle(style="padding:0 8px;")
                                进行中

                              a.accordion-toggle(href="/api/service/handle")
                                i.icon-circle(style="padding:0 8px;")
                                投诉待处理

                              a.accordion-toggle(href="/api/order/finish")
                                i.icon-circle(style="padding:0 8px;")
                                已完成




                        div.accordion-group
                            div.accordion-heading
                                a.accordion-toggle.b_C3F7A7.collapsed(href="#collapse4" data-toggle="collapse" data-parent="#accordion2")
                                    i.icon-truck(style="padding-right:8px;")
                                    span 车型管理

                            div#collapse4.accordion-body.collapse
                                div.accordion-inner
                                    a.accordion-toggle(href="/api/truck/all")
                                        i.icon-circle(style="padding:0 8px;")
                                        车型列表
                                    a.accordion-toggle(href="/api/truck/add")
                                        i.icon-circle(style="padding:0 8px;")
                                        新增车型



                div.main_container
                  block content
        script.
          var pathname = self.location.pathname
          var actived = document.querySelector("a[href='"+ pathname+"']")
          if(actived){
              actived.className += ' active b_F79999'
          }

          console.log(pathname.indexOf("order"))
          console.log(pathname.indexOf("need"))
          if(pathname.indexOf("order") !=-1 || pathname.indexOf("need") !=-1 || pathname.indexOf('service') != -1)
          {
              $("#collapse3")[0].style.height="auto"
              console.log("3")
          }
          else if(pathname.indexOf('driver') !=-1){
              $("#collapse2")[0].style.height="auto"
              console.log('2')
          }
          else if(pathname.indexOf('company') !=-1)
          {
              $("#collapse1")[0].style.height="auto"
              console.log('1')
          }
          else if (pathname.indexOf('truck') != -1) {
              $("#collapse4")[0].style.height = "auto"
              console.log('4')
          }

          console.log(self.location.pathname)