extends layouts/master


block content
    div.row-fluid(style="padding-top:20px;")
        div.widget.widget-padding.span12
            div.widget-header
                i.icon-list-alt
                h5 新增车型
            div.widget-body
                div.widget-forms.clearfix
                    form#form.form-horizontal(action="/api/truck/add", method="POST", enctype="multipart/form-data", onsubmit="return validate()")
                        div.control-group
                            label.control-label 名称：
                            div.controls
                                input.span7(type="text", name="name", required)
                                p#username_hint.help-block.text-red

                            div.control-group
                                label.control-label 载重：
                                div.controls
                                    input.span7(type="text", name="load", placeholder="吨", required)
                                    p#username_hint.help-block.text-red

                            div.control-group
                                label.control-label 长*宽*高：
                                div.controls
                                    input.span7(type="text", name="size", placeholder="例: 10.5*2.0*3.0", required)
                                    p#username_hint.help-block.text-red

                            div.control-group
                                label.control-label 载货体积：
                                div.controls
                                    input.span7(type="text", name="volume", placeholder="方", required)
                                    p#username_hint.help-block.text-red

                            div.control-group
                                label.control-label 图片：
                                div.controls
                                    input.span7#truck_image(type="file", name="img", style="margin-top:5px", required)

            div.widget-footer
                button.btn.btn-primary(type="button" onclick="submitform()") 新增



    script.
        function validate() {
            add();
            return false;
        }
        function submitform() {
            console.log('--')
            $("#form").submit();//表单提交
        }

        function add() {
            var form_data = new FormData($("#form")[0]);
            $.ajax({
                url: '/api/truck/add',
                data: form_data,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (data) {
                    window.location.href = data;
                }
            })
        }